<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Conexión -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- El resto de los datos de conexión se configuran por código-->
    <!-- Configuracion del pool interno -->
    <property name="connection.pool_size">10</property>
    <!-- Dialecto de la base de datos -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- Otras configuraciones -->
    <property name="hibernate.show_sql">true</property>
    <!--property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property-->
    <!-- Mapeo de clases -->
    <mapping class="Modelo.EppEntrega"/>
    <mapping class="Modelo.EppEntregaItem"/>
    <mapping class="Modelo.EPP"/>
    <mapping class="Modelo.EPPOperario"/>
    <mapping class="Modelo.Operario"/>
    <mapping class="Modelo.FamiliaEquipo"/>
    <mapping class="Modelo.TipoCosto"/>
    <mapping class="Modelo.PrecioHistorico"/>
  </session-factory>
</hibernate-configuration>
